/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,400&family=Poppins:ital,wght@0,300;0,700;1,300;1,500&family=Roboto&display=swap");
/* Variables */
/* Reset Styles */
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins";
}

/* Typography */
h1,
h2,
h3,
h4,
p {
  margin: 0 0 1%;
  letter-spacing: 0;
  line-height: 1.3;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

/* Product Name Container */
.product-name-cont > div {
  font-size: 0.9rem;
}

/* Fieldset Styles */
fieldset {
  border: 3px solid rgba(200, 200, 200, 0.2);
}

legend {
  font-weight: bold;
}

/* Container Styles */
div.container {
  /* Brand Header */
  /* Main Content */
  /* Checkout Header */
  /* Order Details */
  /* Order Items List */
  /* Grid Row and Columns */
  /* Float Row */
}
div.container .brand-header {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
div.container .brand-header a {
  display: block;
  text-decoration: none;
}
div.container .brand-header a img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
div.container .brand-header a h1 {
  color: black;
  padding: 1%;
  text-align: center;
  display: block;
  font-size: 1.4rem;
  margin: 0;
}
@media screen and (max-width: 460px) {
  div.container .brand-header {
    padding: 5% 1%;
  }
  div.container .brand-header a img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
div.container main.content {
  max-width: 700px;
  padding: 1%;
  margin: 0 auto;
}
div.container main.content > div {
  padding: 2%;
}
div.container nav.checkout-header {
  position: sticky;
  z-index: 100;
  top: 0px;
  background: #fff;
}
div.container nav.checkout-header ul.checkout-header__list {
  display: flex;
  padding: 10px;
  background: rgba(240, 240, 240, 0.4);
}
div.container nav.checkout-header ul.checkout-header__list li {
  display: block;
  flex-grow: 3;
  text-align: center;
}
div.container nav.checkout-header ul.checkout-header__list a {
  color: #777;
}
div.container section.order-details {
  margin: 1%;
  padding: 3%;
  border-bottom: 2px solid rgba(240, 240, 240, 0.4);
}
div.container div.form-group {
  padding: 1%;
}
div.container ul.order-items {
  padding: 0;
  margin: 0;
}
div.container ul.order-items li.order-item {
  list-style: none;
  padding: 1%;
  text-align: center;
}
div.container ul.order-items li.order-item:nth-child(odd) {
  background: rgba(200, 200, 200, 0.1);
}
div.container ul.order-items li.order-item .product-info {
  display: flex;
}
div.container ul.order-items li.order-item .product-info div {
  width: 25%;
  align-self: center;
  text-align: center;
}
div.container div.grid-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin-bottom: 0;
}
div.container div.grid-row div.grid-col {
  padding: 0;
}
div.container div.grid-row .grid-cell:last-child {
  border-right: none;
}
div.container div.float-row.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
div.container div.float-row .float-th {
  font-weight: bold;
  padding: 1%;
  text-align: center;
}
div.container div.float-row .float-cell {
  float: left;
  width: 25%;
  box-sizing: border-box;
}

/* Footer Styles */
footer {
  background: black;
  padding: 3%;
}
footer p {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/* Label Cursor */
label {
  cursor: pointer;
}
label.label__block {
  display: block;
}

/* Media Query for Small Screens */
@media screen and (max-width: 460px) {
  html {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */